<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Learn Web development</title>
</head>
<body>



<div class="container">
    <!-- 1.ROW - Title -->
    <div class="row justify-content-center h2 m-2 container-lg  bg-primary p-2 text-white bg-opacity-75">
        I am learning Web Application Entwicklung!
    </div>


    <!-- 2.ROW - Subtitle -->
    <div class="row justify-content-center h4 mt-3 mb-4">
        Form für Nutzer zum Ausfüllen.
    </div>


    <!-- 3.ROW - USER-Formula -->
    <div class="row justify-content-evenly">
        <!-- form -->
        <form class="col-7" th:action="@{/user/post}" th:object="${user}" method="POST">

            <!--    das in sehr interessant!-->
            <input type="hidden" th:field="*{uuid}" th:id="uuid"/>

            <!-- the first field of the form, the first name -->
            <div class="mb-3">
                <label for="firstName"
                       class="form-label pt-1 pb-1 px-3 bg-secondary  border border-secondary rounded"
                       style="--bs-bg-opacity:.5" th:text="Vorname">Vorname
                </label>
                <input type="text" th:field="*{firstName}" class="form-control border border-secondary rounded"
                       id="firstName"
                       placeholder="Vorname"
                />
                <!--        validation of the name as Denis ask. This will only appear if the is something wrong-->
                <div class="container" th:if="${#fields.hasErrors('firstName')}" th:errors="${user.firstName}">
                </div>
            </div>

            <!-- the second field of the form, the last name  -->
            <div class="mb-3">
                <label for="lastName"
                       class="form-label pt-1 pb-1 px-3 bg-secondary  border border-secondary rounded"
                       style="--bs-bg-opacity:.5">Nachname</label>
                <input type="text" th:field="${user.lastName}" id="lastName"
                       class="form-control  border border-secondary rounded"
                       placeholder="Nachname">
                <div class="container" th:if="${#fields.hasErrors('lastName')}" th:errors="${user.lastName}">
                </div>
            </div>


            <!--    the third field of the form, the date of birth-->
            <div class="mb-3">
                <label for="dob" class="form-label pt-1 pb-1 px-3 bg-secondary  border border-secondary rounded"
                       style="--bs-bg-opacity:.5">
                    Day of birth
                </label>
                <!-- the type here is date because I need a date input from the user-->
                <input type="date" th:field="*{dob}" id="dob" class="form-control  border border-secondary rounded"
                       th:min="${dobMin}" th:max="${dobMax}"
                />
                <!--        validation of the date as Denis ask. This will only appear if the is something wrong-->
                <div class="container" th:if="${#fields.hasErrors('dob')}" th:errors="${user.dob}"></div>
            </div>


            <!--    the forth field of the form, the height in cm -->
            <div class="mb-3">
                <label for="height" class="form-label pt-1 pb-1 px-3 bg-secondary  border border-secondary rounded"
                       style="--bs-bg-opacity:.5">
                    height in cm
                </label>
                <input type="number" th:field="*{height}" id="height"
                       class="form-control  border border-secondary rounded"
                       placeholder="height in cm"
                />
                <!--        validation of the height as Denis ask. This will only appear if the is something wrong-->
                <div class="container" th:if="${#fields.hasErrors('height')}" th:errors="${user.height}">
                </div>
            </div>

            <div class=" d-flex justify-content-between">

                <button type="submit" class="btn btn-primary ">
                    Submit
                </button>

<!--                <span>-->
<!--                    <a th:href="@{/user/list}">-->
<!--                        &lt;!&ndash;    Button visible only to Admin users.&ndash;&gt;-->
<!--                        <button type="button" class="btn btn-warning"-->
<!--                                sec:authorize="hasRole('ADMIN')">-->
<!--                            Zur List-->
<!--                        </button>-->
<!--                    </a>-->
<!--                </span>-->

                <span>
                    <button type="button" class=" btn btn-secondary" onclick="history.back()">
                        Zurück
                    </button>
                </span>
            </div>
        </form>
    </div>


    <!-- Divider -->
    <hr class="my-5 dotted">


    <!-- 4.ROW - ROLE-Formula -->
    <div class="row justify-content-center" th:if="${user.uuid != null}">

        <!-- Form -->
        <form class="row justify-content-center my-5" th:action="@{'/user/' +${user.uuid} +'/addRole'}" method="post">

            <!--    DROP DOWN  form to assign the role-->
            <label class="row justify-content-around">
                <select class="col-4 border border-secondary rounded" th:name="selectedRole">

                    <!-- Add a default option -->
                    <option value="">Select a Role</option>

                    <!-- Iterate over the roles and generate options -->
                    <option th:each ="role:${roles}" th:value="${role.roleName}" th:text="${role.roleName}"></option>
                </select>

                <button type="submit"
                        class="col-2 border border-secondary rounded btn btn-primary">
                    Addieren
                </button>
            </label>
        </form>


        <!-- Table -->
        <div class="col-10  ">
            <table class="table table-striped table-bordered text-center mt-5">
                <!-- TABLE WITH ROLES -->
                <thead class="table-group-divider">
                    <tr class="text-center">
                        <th scope="col">#</th>
                        <th scope="col">Role</th>
                        <th scope="col">Beschreibung</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>

                <tbody class="table-group-divider ">
                    <tr th:each="role,status:${user.getRoles()}">
                        <td th:text="${status.index + 1}">Nr. </td>
                        <td th:text="${role.roleName}">Name</td>
                        <td th:text="${role.roleDescription}">Beschreibung</td>
                        <td style="width: 10%;">
                            <!-- Add a form for each delete/change request in our server, with post request the parameters is not in the url  -->
                            <form th:action="@{'/user/'+${user.uuid}+'/deleteRole/'+ ${role.uuid}}" method="post">
                                <button class="btn btn-danger">Löschen</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <!-- Divider -->
    <hr class="mb-5 mt-3">


    <!-- 5.ROW Login/Logout Buttons -->
    <div class="row m-3 d-flex justify-content-between ">
        <div class="col-4">
            <!--    Button visible only wenn someone is not login/authenticated-->
            <th:block th:if="${not #authorization.expression('isAuthenticated()')}">
                <a th:href="@{/login}">
                    <button type="button" class="btn btn-success">
                        Login
                    </button>
                </a>
            </th:block>
        </div>
        <div class="col-4">
            <!--    Button visible only to authenticated users.-->
            <a th:href="@{/logout}" class="">
                <button type="button" class="btn btn-danger justify-self-center"
                        sec:authorize="isAuthenticated()">
                    Logout
                </button>
            </a>
        </div>
        <div class="col-1">
            <a th:href="@{/role/list}" sec:authorize="hasRole('ADMIN')">
                <button type="button" class="btn btn-dark">
                    Roles
                </button>
            </a>
        </div>

    </div>


</div> <!-- END main container -->


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous">

</script>
</body>
</html>