<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User list</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
<!--header-->
<div class="m-2" >
    <div class="h2 container-lg  bg-primary p-2 text-white bg-opacity-75">
        I am learning Web Application Entwicklung!
    </div>
</div>

<div class="h4 container mt-5 mb-5">
    Hier ist die Liste mit dem Nutzer!
</div>


<!--table list-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>


<table class="table table-striped table-bordered container">
    <thead class="table-group-divider">
    <tr >
        <th scope="col">#</th>
        <th scope="col">Vorname</th>
        <th scope="col">Nachname</th>
        <th scope="col">Geburtsdatum</th>
        <th scope="col">Länge</th>
        <th scope="col">Optionen</th>
    </tr>
    </thead>

    <tbody class="table-group-divider ">
    <!--    th:each is a foreach loop that go through the list of users and pass one at the time in the user variable-->
    <!--    I took the list "users" and passed it over here through the model attributs for the controller. -->
    <!-- user is variable for the actual object list, and the status is variable to keep track the Iteration of this loop  -->
    <tr  th:each="user,status:${users}">

        <td th:text="${status.index + 1}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${#temporals.format(user.dob, 'dd.MM.yyyy')}"></td>
        <td th:text="${#numbers.formatInteger(user.height, 0,'POINT') + ' cm'}"></td>

        <td class="table-cell">
            <a th:href="@{'/user/delete/'+ ${user.getUuid()}}">
                <!--    Button visible only to authorized users (ROLE_ADMIN) only they can delete someone.-->
                <button type="button" class="btn btn-sm btn-outline-danger me-2" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                    Löschen
                </button>
            </a>

            <a th:href="@{'/user/update/'+ ${user.getUuid()}}">
                <button type="button" class="btn btn-sm btn-outline-primary ">
                    Ändern
                </button>
            </a>
        </td>
    </tr>

    </tbody>
    <!-- this is a footer, and he will go at the end of my table -->
    <tfoot class="table-group-divider">
    <tr>
<!--        colspan is to expand this cell in 4 others cells-->
        <td colspan="4" class="text-right text-bold">Die Summe alle Nutzer ist: </td>
<!--        this is a value that I take from the controller. Here I need the size of the user list.-->
        <td th:text="${users.size()}"></td>
    </tr>
    </tfoot>
</table>



<div class="container mt-5 mb-5 d-flex justify-content-between">
    <a th:href="@{/user/create}">
        <button type="button" class="btn btn-success ">
            Neue
        </button>
    </a>

    <span>
        <button type="button" class=" btn btn-secondary mx-2 " onclick="history.back()">
            Zurück
        </button>
    </span>
</div>


<!--    Button visible only to Admin users.-->
<div class="container d-flex justify-content-end align-items-center" sec:authorize="hasRole('ADMIN')">

    <!--Divider -->
    <hr class="my-4">

    <span class="mx-2">zum Roles List:</span>
    <a th:href="@{/role/list}">
        <button type="button" class="btn btn-dark">
            Roles
        </button>
    </a>
</div>


<!--Divider -->
<hr class="my-4">

<!-- Login/Logout Buttons -->
<div class="col-md-12 d-flex justify-content-center align-items-center">

    <!--    Button visible only wenn someone is not login/authenticated-->
    <th:block th:if="${not #authorization.expression('isAuthenticated()')}">
        <a th:href="@{/login}">
            <button type="button" class="btn btn-success mt-5 mx-3 ">
                Login
            </button>
        </a>
    </th:block>


    <!--    Button visible only to authenticated users.-->
    <a th:href="@{/logout}">
        <button type="button" class="btn btn-danger mt-5 mx-3"
                sec:authorize="isAuthenticated()">
            Logout
        </button>
    </a>

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>