<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Register</title>
</head>
<body>

<div class="m-2">
    <div class="h2 container-lg bg-primary p-2 text-white bg-opacity-75">
        I am learning Web Application Entwicklung!
    </div>
</div>

<div class="h4 container mt-5 mb-2">
    Du bist register!!!
</div>

<!-- this is a paragraf to show the first name of the register user-->
<div class="container">
    <div>Vorname:</div>
    <p class="form-control "
       th:text="${user.firstName}"></p>
</div>

<!-- this is a paragraf to show the last name of the register user-->
<div class="container">
    <div>Nachname:</div>
    <p class="form-control "
       th:text="${user.lastName}"></p>
</div>

<!-- this is a paragraf to show the day of birth of the register user-->
<div class="container">
    <div>Geburtstag Datum:</div>
    <!-- instead of giving the ${object.field} I give a variable ${formatDob} from the Model in the controller.
         With this way I can have the format of the date I want in my model, regardless of the format of the object in the application.-->
    <p class="form-control  "
       th:text="${#temporals.format(user.dob,'dd.MM.yyyy') }">
    </p>
</div>

<!-- this is a paragraf to show the height of the register user-->
<div class="container">
    <div>Länge in cm:</div>
    <label class="form-control"
           th:text="${#numbers.formatInteger(user.height,0,'POINT')}">
    </label>
</div>


<div class="container">
    <a th:href="@{/}">
        <button class="mt-4"
                type="button">
            Zurück
        </button>
    </a>
</div>

</body>
</html>