<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Register</title>
</head>
<body>

<div class="m-2">
    <div class="h2 container bg-primary p-2 text-white bg-opacity-75">
        I am learning Web Application Entwicklung!
    </div>
</div>

<div class="h4 container mt-5 mb-2">
    Du bist register!!!
</div>

<!-- this is a paragraf to show the first name of the register user-->
<div class="container">
    <p class="form-control  border border-secondary rounded" th:text="'Vorname: ' + ${user.firstName}">Vorname</p>
</div>

<!-- this is a paragraf to show the last name of the register user-->
<div class="container">
    <p class="form-control  border border-secondary rounded" th:text="'Nachname: ' + ${user.lastName}">Nachname</p>
</div>

<!-- this is a paragraf to show the day of birth of the register user-->
<div class="container">
    <p class="form-control  border border-secondary rounded" th:text="'Geburtstag Datum: ' + ${user.dob}">Geburtstag Datum</p>
</div>

<!-- this is a paragraf to show the height of the register user-->
<div class="container">
    <p class="form-control  border border-secondary rounded" th:text="'Laenge in cm: ' + ${user.height}">Länge in cm</p>
</div>



<div class="container">
    <a th:href="@{/}">
        <button type="button"> Zurueck</button>
    </a>
</div>

</body>
</html>